/* Temporary "UNCORRECTED PROOF" Banner */
@media screen {
  .quire::before,
  .quire::after {
    color: black;
    font-weight: 700;
    position: fixed;
    width: 230px;
    height: 230px;
    z-index: 4000;
    transform: rotate(-45deg);
    text-align: center;
    padding-top: 1rem;
  }
  .quire::before {
    content: "FIRST";
    background-color: cyan;
    bottom: -115px;
    right: -115px;
  }
  .quire::after {
    content: "PAGES";
    bottom: -130px;
    right: -130px;
  }
}

/* PUBLISHER LINE BREAK */

div.publisher p:first-child {
  margin-bottom: 0 !important;
}

/* ACCORDION SECTIONS 
================================================================== */
.accordion-section__heading-level-3 {
  margin-left: 2rem;
}

/* Case Studies */
details.accordion-section[id^="section-case-study"] {
  background-color: #CF4747;
  padding: 1.5rem;
}
details.accordion-section[id^="section-case-study"] * {
  color: white !important;
}
details.accordion-section[id^="section-case-study"] .q-figure__label .q-figure__label-icon svg {
  fill: white;
}
