//
// CUSTOMIZED FILE
// Completely new CSS for the EPUB output
//
// =============================================================================
// Epub.scss
@import "colors";
@import "variables";

body * {
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  text-align: center;
}
.quire-page__header {
  margin: 1rem 0 3rem;
}
.pdf-footers__title,
.is-print-only {
  display: none;
}
.quire-contributors-list,
.table-of-contents-list,
.project-team ul,
.cip-data ul {
  list-style-type: none;
  padding-left: 0;
}
.table-of-contents-list ol {
  list-style-type: none;
  padding-left: 1.25rem;
}
.quire-contributors-list li,
.table-of-contents-list li,
.table-of-contents-list li.section-item a {
  margin-bottom: .5rem;
  display: block;
}
.table-of-contents-list .contributor {
  display: block;
}
.project-team ul p {
  margin: 0;
}
.cip-data > p,
.cip-data > ul {
  margin: 0;
}
.cip-data > ul li {
  margin-left: 1.25rem;
  text-indent: -1.25rem;
}
.publisher > p:first-child {
  margin-bottom: 0;
}
.publisher > p:last-child {
  margin-top: 0;
}
.quire-contributors-list {
  text-align: center;
  padding-left: 0;
}
.quire-contributors-list.align-right {
  text-align: right;
}
.quire-contributors-list.align-right .quire-contributor__title {
  display: block;
  font-style: italic;
  margin-bottom: .5rem;
}
a,
a.q-figure__modal-link {
  color: $accent-color;
  text-decoration: underline;
}
a.q-figure__modal-link {
  font-weight: bold;
  margin-right: .5rem;
}
.q-figure--group .q-figure__label {
  color: $accent-color;
  font-weight: bold;
  margin-right: .5rem;
}
figure {
  break-inside: avoid;
  margin-left: .5rem;
  margin-right: .5rem;
}
figure figure {
  padding: 0;
  border-width: 0;
}
cite {
  font-style: normal;
}
.quire-page__abstract,
.quire-page__abstract *,
figcaption,
figcaption *,
.backmatter,
.backmatter * {
  font-size: .875rem;
}
.quire-page__abstract {
  margin: 0 auto 3rem;
  max-width: 80%;
}
.backmatter {
  margin-top: 3rem;
}
.footnotes-list {
  padding-left: 1rem;
}
.half-title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: $accent-color;
  margin-top: 7.5rem;
  text-align: center;
}
#page-pdf-epub-title .title,
#page-pdf-epub-title .publisher {
  text-align: center;
}
#page-pdf-epub-title .title {
  color: $accent-color;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
#page-pdf-epub-half-title .half-title p,
#page-pdf-epub-title .subtitle {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: inherit !important;
}
#page-pdf-epub-title .quire-contributor {
  font-size: 1.25rem;
  margin: 0;
}
#page-pdf-epub-copyright .quire-page__header {
  display: none;
}
.copyright__publisher-logo {
  display: none;
}
.q-figure--table {
  overflow-y: scroll;
}
table, th, td {
  border: 1px solid $black;
  border-collapse: collapse;
}
th, td {
  padding: .25rem;
}
table caption {
  margin-bottom: .5rem;
}



.heading-7-inline {
  margin-right: 1rem;
  font-size: .85rem;
  font-weight: 500;
}
section.accordion-section[id^="section-case-study"] {
  background-color: #e6f0fe;
  padding: 1.5rem;
  margin: 2rem 0;
}