// =============================================================================
// Fonts.scss
// -----------------------------------------------------------------------------
// Custom font declarations (if any) can be imported here
$assets-dir: "/_assets/" !default;

@function font($file) {
  @return url($assets-dir + 'fonts/' + $file);
}

////
// Host Grotesk
// https://fonts.google.com/specimen/Host+Grotesk
// https://elementtype.co/host-grotesk/
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// Host Grotesk Light
@font-face {
  font-family: "Host Grotesk";
  src: font("host-grotesk/HostGrotesk-Light.woff2") format("woff2"),
       font("host-grotesk/HostGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
// Host Grotesk Light Italic
@font-face {
  font-family: "Host Grotesk";
  src: font("host-grotesk/HostGrotesk-LightItalic.woff2") format("woff2"),
       font("host-grotesk/HostGrotesk-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
// Host Grotesk Regular
@font-face {
  font-family: "Host Grotesk";
  src: font("host-grotesk/HostGrotesk-Regular.woff2") format("woff2"),
       font("host-grotesk/HostGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
// Host Grotesk Italic
@font-face {
  font-family: "Host Grotesk";
  src: font("host-grotesk/HostGrotesk-Italic.woff2") format("woff2"),
       font("host-grotesk/HostGrotesk-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
// Host Grotesk Medium
@font-face {
  font-family: "Host Grotesk";
  src: font("host-grotesk/HostGrotesk-Medium.woff2") format("woff2"),
       font("host-grotesk/HostGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
// Host Grotesk Medium Italic
@font-face {
  font-family: "Host Grotesk";
  src: font("host-grotesk/HostGrotesk-MediumItalic.woff2") format("woff2"),
       font("host-grotesk/HostGrotesk-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
// Host Grotesk SemiBold
@font-face {
  font-family: "Host Grotesk";
  src: font("host-grotesk/HostGrotesk-SemiBold.woff2") format("woff2"),
       font("host-grotesk/HostGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
// Host Grotesk SemiBold Italic
@font-face {
  font-family: "Host Grotesk";
  src: font("host-grotesk/HostGrotesk-SemiBoldItalic.woff2") format("woff2"),
       font("host-grotesk/HostGrotesk-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
// Host Grotesk Bold
@font-face {
  font-family: "Host Grotesk";
  src: font("host-grotesk/HostGrotesk-Bold.woff2") format("woff2"),
       font("host-grotesk/HostGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
// Host Grotesk Bold Italic
@font-face {
  font-family: "Host Grotesk";
  src: font("host-grotesk/HostGrotesk-BoldItalic.woff2") format("woff2"),
       font("host-grotesk/HostGrotesk-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

////
// EB Garamond
// https://fonts.google.com/specimen/EB+Garamond
// https://googlefonts.github.io/ebgaramond-specimen/
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// EB Garamond Regular
@font-face {
  font-family: "EB Garamond";
  src: font("eb-garamond/EBGaramond-Regular.woff2") format("woff2"),
       font("eb-garamond/EBGaramond-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
// EB Garamond Italic
@font-face {
  font-family: "EB Garamond";
  src: font("eb-garamond/EBGaramond-Italic.woff2") format("woff2"),
       font("eb-garamond/EBGaramond-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
// EB Garamond Medium
@font-face {
  font-family: "EB Garamond";
  src: font("eb-garamond/EBGaramond-Medium.woff2") format("woff2"),
       font("eb-garamond/EBGaramond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
// EB Garamond Medium Italic
@font-face {
  font-family: "EB Garamond";
  src: font("eb-garamond/EBGaramond-MediumItalic.woff2") format("woff2"),
       font("eb-garamond/EBGaramond-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
// EB Garamond Bold
@font-face {
  font-family: "EB Garamond";
  src: font("eb-garamond/EBGaramond-Bold.woff2") format("woff2"),
       font("eb-garamond/EBGaramond-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
// EB Garamond Bold Italic
@font-face {
  font-family: "EB Garamond";
  src: font("eb-garamond/EBGaramond-BoldItalic.woff2") format("woff2"),
       font("eb-garamond/EBGaramond-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
